In [2]:
import pandas as pd

# Create A Series Using Dict In Pandas

In [3]:
dictionary = {'A' : 10, 'B' : 20, 'C' : 30}
series = pd.Series(dictionary)

In [4]:
series

A    10
B    20
C    30
dtype: int64

# How To Create A Copy Of The Series In Pandas?

In [8]:
series_copy= series.copy()

In [9]:
series_copy

A    10
B    20
C    30
dtype: int64

#  Create a DataFrame using List

In [34]:
Avengers = ['Iron Man', 'CaptaiN America', 'Thor', 'Black Widow', 'Hawkeye']

In [35]:
df= pd.DataFrame(Avengers)

In [36]:
print(df)

                 0
0         Iron Man
1  CaptaiN America
2             Thor
3      Black Widow
4          Hawkeye

# What Are The Different Ways A DataFrame Can Be Created In pandas?

In [37]:
data = {'Name': ['Iron Man', 'CaptaiN America', 'Thor', 'Black Widow', 'Hawkeye'],
        'Power level': [75, 85, 100, 45, 50]}

In [40]:
df = pd.DataFrame(data, index=['rank1','rank2','rank3', 'rank4', 'rank5'])

In [41]:
df

                  Name  Power level
rank1         Iron Man           75
rank2  CaptaiN America           85
rank3             Thor          100
rank4      Black Widow           45
rank5          Hawkeye           50

# Write a Pandas program to join the two given dataframes along rows and assign all data

In [42]:
Avengers = pd.DataFrame({'Name': ['Iron Man', 'CaptaiN America', 'Thor', 'Black Widow', 'Hawkeye', 'HUlk'],
        'Power level': [75, 85, 100, 45, 50, 100]})

In [44]:
New_Avengers = pd.DataFrame({'Name': ['Spiderman', 'Scarlet Witch', 'Black Panther', 'Falcon', 'Ant Man', 'Captain Marvel'],
        'Power level': [95, 99, 95, 72, 75, 100]})

In [45]:
result_data = pd.concat([Avengers, New_Avengers])

In [46]:
result_data

              Name  Power level
0         Iron Man           75
1  CaptaiN America           85
2             Thor          100
3      Black Widow           45
4          Hawkeye           50
5             HUlk          100
0        Spiderman           95
1    Scarlet Witch           99
2    Black Panther           95
3           Falcon           72
4          Ant Man           75
5   Captain Marvel          100

# Write a Python program to find the maximum and minimum value of array

In [18]:
import numpy as np

In [19]:
ar = np.array([1, 2, 3, 4, 5])

In [20]:
ar

array([1, 2, 3, 4, 5])

In [22]:
np.max(ar)

5

In [23]:
np.min(ar)

1

# Write a NumPy program to repeat all the elements three times of a given array of string
['Pie' ,'pigeon' ,'Joker' ,'Cake']

In [24]:
x = np.array(['Pie' ,'pigeon' ,'Joker' ,'Cake'])
np.tile(x,3)

array(['Pie', 'pigeon', 'Joker', 'Cake', 'Pie', 'pigeon', 'Joker', 'Cake',
       'Pie', 'pigeon', 'Joker', 'Cake'], dtype='<U6')